.login {
    &--background {
        width: 120px;
        height: 330px;
        position: absolute;
        top: 40px;
        right: 0px;
        background-image: url("/login-background.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 20;
    }
    &--message {
        height: 308px;
        padding: 0px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f7f8fc;
        .message-wrapper {
            width: 200px;
            z-index: 1;
        }
        .small-text {
            font-size: 10px;
            color: var(--gray-titles);
            font-family: "Lato";
            font-weight: 700;
        }
        .big-text {
            margin: 0px;
            color: var(--gray-titles);
            font-size: 28px;
            font-family: "Lato";
            font-weight: 400;
            letter-spacing: -0.6px;
        }
        .normal-text {
            color: var(--gray-titles);
            font-size: 14px;
            font-family: "Roboto";
            line-height: 24px;
        }
    }
    &--form {
        padding: 16px 32px;
        display: grid;
        row-gap: 16px;
        select {
            width: 96px;
            padding: 15px 16px;
            border-radius: 4px;
            border: solid 1px #c5cbe0;
            background-color: #fff;
            font-size: 16px;
        }
        input {
            width: 100%;
            padding: 15px 16px;
            border-radius: 4px;
            border: solid 1px #c5cbe0;
            font-size: 16px;
        }
        .title-form {
            color: var(--gray-titles);
            font-size: 24px;
            font-family: "Lato";
            font-weight: 400;
        }
        .group-input {
            display: flex;
            .dni {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .document-number {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
        .terms {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 12px;
            margin: 16px 0px;
            color: var(--gray-paragraph);
            font-size: 12px;
            font-family: "Roboto";
            font-weight: 300;
            line-height: 20px;
            a {
                color: var(--gray-paragraph);
                font-weight: 500;
            }
            &--check {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #43b748;
                background-image: url("/check-icon.svg");
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 4px;
            }
        }
    }
}
