.login {
    &--background {
        width: 120px;
        height: 330px;
        position: absolute;
        top: 40px;
        right: 0px;
        background-image: url("/login-background.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 20;
    }
    &--message {
        height: 308px;
        padding: 0px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f7f8fc;
        .message-wrapper {
            width: 200px;
            z-index: 1;
        }
        .small-text {
            font-size: 10px;
            color: var(--gray-titles);
            font-family: "Lato";
            font-weight: 700;
        }
        .big-text {
            margin: 0px;
            color: var(--gray-titles);
            font-size: 28px;
            font-family: "Lato";
            font-weight: 400;
            letter-spacing: -0.6px;
        }
        .normal-text {
            color: var(--gray-titles);
            font-size: 14px;
            font-family: "Roboto";
            line-height: 24px;
        }
    }
}
