.button {
    min-width: 168px;
    background-color: var(--primary);
    border: none;
    color: #fff;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
}

.button-md {
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 12px;
}

.button-lg {
    padding: 20px 32px;
    border-radius: 8px;
    font-size: 14px;
}
