.switch {
    width: 51px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #e4e8f7;
    border-radius: 18px;
    &--trigger {
        width: 28px;
        height: 28px;
        background-color: #fff;
        border-radius: 18px;
        transform: translateX(2px);
        // transition: transform 2s;
    }
}

.switch.active {
    background-color: #7cc954;
    // transition: transform 2s;
}
.switch.active .switch--trigger {
    transform: translateX(21px);
}
