.header {
    height: 56px;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &--options {
        display: flex;
        align-items: center;
        color: var(--secondary);
        font-family: "Roboto";
        font-size: 14px;
        img {
            margin-right: 10px;
        }
    }
}
